@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group customlist" id="technologyList">
            <li class="list-group-item list-item">
                <p>ASP.NET MVC5</p>
            </li>
            <li class="list-group-item list-item">
                <p>
                    Entity Framework 6
                </p>
            </li>
            <li class="list-group-item list-item">
                <p>
                    Autofac
                </p>
            </li>
            <li class="list-group-item list-item">
                <p>
                    SQL Server Express LocalDB
                </p>
            </li>
            <li class="list-group-item list-item">
                <p>JQuery</p>
            </li>
            <li class="list-group-item list-item">
                <p>Bootstrap 3</p>
            </li>
        </ul>
    </div>
</div>

